body {
  background-color: #b22222;
  margin: 0 auto;
  padding: 0;
}
.navbar {
  margin: 0 auto;
  display: flex;
  background-color: #ffc0cb;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
  width: 100%;
  padding: 0;
  position: fixed;
  top: 0;
  right: 0;
}
.navbar ul {
  display: flex;
}
.navbar li,
a {
  margin: 0 auto;
  padding: 0;
  list-style: none;
  padding-right: 90px;
  padding-left: 90px;
  color: #ffd700;
  font-size: 30px;
  text-decoration: none;
  text-transform: uppercase;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  display: block;
  background-color: #ffc0cb;
  box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
}
h2 {
  font-family: "Oswald", sans-serif;
  color: #b22222;
  font-size: 100px;
}

h1 {
  font-family: "Caveat", cursive;
  color: #b22222;
  font-weight: 700;
  font-size: 200px;
  text-align: right;
}
p {
  color: #333333;
  font-size: 23px;
  padding: 40px;
  letter-spacing: 5px;
}
